<div class="content" [smooth-fade]="!!iban">

  <div *ngIf="iban">
    <div class="card">
      <div class="entry" *ngIf="iban.address">
        <span>Address</span>
        <div class="value">{{iban.address}}</div>
      </div>
      <div class="entry" *ngIf="iban.bank">
        <span>Bank</span>
        <div class="value">{{iban.bank}}</div>
      </div>
      <div class="entry" *ngIf="iban.bic">
        <span>BIC</span>
        <div class="value">{{iban.bic}}</div>
      </div>
      <div class="entry" *ngIf="iban.branch">
        <span>Branch</span>
        <div class="value">{{iban.branch}}</div>
      </div>
      <div class="entry" *ngIf="iban.city">
        <span>City</span>
        <div class="value">{{iban.city}}</div>
      </div>
      <div class="entry" *ngIf="iban.country">
        <span>Country</span>
        <div class="value">{{iban.country}}</div>
      </div>
      <div class="entry" *ngIf="iban.country_iso">
        <span>Country ISO</span>
        <div class="value">{{iban.country_iso}}</div>
      </div>
      <div class="entry" *ngIf="iban.email">
        <span>Email</span>
        <div class="value">{{iban.email}}</div>
      </div>
      <div class="entry" *ngIf="iban.fax">
        <span>FAX</span>
        <div class="value">{{iban.fax}}</div>
      </div>
      <div class="entry" *ngIf="iban.phone">
        <span>Phone</span>
        <div class="value">{{iban.phone}}</div>
      </div>
      <div class="entry" *ngIf="iban.state">
        <span>State</span>
        <div class="value">{{iban.state}}</div>
      </div>
      <div class="entry" *ngIf="iban.www">
        <span>Webpage</span>
        <div class="value">{{iban.www}}</div>
      </div>
      <div class="entry" *ngIf="iban.zip">
        <span>ZIP</span>
        <div class="value">{{iban.zip}}</div>
      </div>
    </div>

    <div class="card">
      <div class="entry">
        <span>B2B</span>
        <div class="value">{{iban.b2b}}</div>
      </div>
      <div class="entry">
        <span>COR1</span>
        <div class="value">{{iban.cor1}}</div>
      </div>
      <div class="entry">
        <span>SCC</span>
        <div class="value">{{iban.scc}}</div>
      </div>
      <div class="entry">
        <span>SCT</span>
        <div class="value">{{iban.sct}}</div>
      </div>
      <div class="entry">
        <span>SDD</span>
        <div class="value">{{iban.sdd}}</div>
      </div>
    </div>
  </div>

</div>
