<div class="content" *ngIf="iban">

  <div class="card">
    <div class="entry">
      <span>Address</span>
      <div class="value">{{iban.address}}</div>
    </div>
    <div class="entry">
      <span>Bank</span>
      <div class="value">{{iban.bank}}</div>
    </div>
    <div class="entry">
      <span>BIC</span>
      <div class="value">{{iban.bic}}</div>
    </div>
    <div class="entry">
      <span>Branch</span>
      <div class="value">{{iban.branch}}</div>
    </div>
    <div class="entry">
      <span>City</span>
      <div class="value">{{iban.city}}</div>
    </div>
    <div class="entry">
      <span>Country</span>
      <div class="value">{{iban.country}}</div>
    </div>
    <div class="entry">
      <span>Country ISO</span>
      <div class="value">{{iban.country_iso}}</div>
    </div>
    <div class="entry">
      <span>Email</span>
      <div class="value">{{iban.email}}</div>
    </div>
    <div class="entry">
      <span>FAX</span>
      <div class="value">{{iban.fax}}</div>
    </div>
    <div class="entry">
      <span>Phone</span>
      <div class="value">{{iban.phone}}</div>
    </div>
    <div class="entry">
      <span>State</span>
      <div class="value">{{iban.state}}</div>
    </div>
    <div class="entry">
      <span>Webpage</span>
      <div class="value">{{iban.www}}</div>
    </div>
    <div class="entry">
      <span>ZIP</span>
      <div class="value">{{iban.zip}}</div>
    </div>
  </div>

  <div class="card">
    <div class="entry">
      <span>B2B</span>
      <div class="value">{{iban.b2b}}</div>
    </div>
    <div class="entry">
      <span>COR1</span>
      <div class="value">{{iban.cor1}}</div>
    </div>
    <div class="entry">
      <span>SCC</span>
      <div class="value">{{iban.scc}}</div>
    </div>
    <div class="entry">
      <span>SCT</span>
      <div class="value">{{iban.sct}}</div>
    </div>
    <div class="entry">
      <span>SDD</span>
      <div class="value">{{iban.sdd}}</div>
    </div>
  </div>

</div>
