.step-header {
  display: inline-block;
  position: relative;
}

.step-order {
  display: inline-block;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0 1px 3px gray;
  transform: translateX(-50%);
}

.step-order span {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header-top {
  display: inline-block;
  position: relative;
}

.selection {
  position: relative;
  padding-bottom: 15px;
  padding-top: 15px;
}

.selection .dot {
  display: inline-block;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  width: 40px;
  height: 1px;
  background: red;
}

.selection .selection-text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 45px;
  color: #9E9E9E;
}

.subtitle {

}

.step-content {
  padding-left: 20px;
  overflow-y: hidden;
  max-height: 50vh;
}

.idle-space {
  height: 20px;
}

.selected .step-header {
  font-size: 180%;
}

.selected .step-order {
  width: 40px;
  height: 40px;
  background: #FF0000;
  color: white;
}

.selected .header-top {
  margin-left: -15px;
  color: #FF0000;
  top: 2px;
}

.unselected .step-header {
  font-size: 120%;
  cursor: pointer;
  cursor: hand;
}

.unselected .step-order {
  width: 30px;
  height: 30px;
  background: white;
  color: #FF0000;
}

.unselected .header-top {
  margin-left: -5px;
  color: #9E9E9E;
  top: 3px;
}

.last-unselected .selection {
  height: 12px;
}

.last-unselected .selection .dot {
  bottom: 0;
  transform: none;
}

.last-unselected .selection-text {
  margin-bottom: -5px;
}

@media (max-width: 480px) {
  .selected .step-content {
    margin-bottom: 20px;
  }
}
