<div class="title-bar">
  <div class="title">Make a payment</div>
</div>
<div class="workflow">
  <step [stepIndex]="stepIndex"
        [progressIndex]="progressIndex"
        [title]="'Select a recipient'"
        [selection]="recipient ? recipient.getName() : undefined"
        (stepClick)="onStepClick($event)">
    <recipient-selector (onSelectChange)="onRecipientChange($event)"></recipient-selector>
  </step>
  <step [stepIndex]="stepIndex"
        [progressIndex]="progressIndex"
        [title]="'Select an account'"
        [selection]="account ? account.getName() : undefined"
        (stepClick)="onStepClick($event)">
    <account-selector (onSelectChange)="onAccountClick($event)"></account-selector>
  </step>
  <step [stepIndex]="stepIndex"
        [progressIndex]="progressIndex"
        [title]="'Your transfer'"
        [selection]="account ? account.getName() : undefined"
        (stepClick)="onStepClick($event)">
    <transfer [account]="account" [recipient]="recipient" (onOperationDone)="onOperationDone()"></transfer>
  </step>
</div>
