.content {
  position: relative;
  /*margin-top: 20px;*/
  /*margin-left: -170px;*/
}

.form-container {
  display: inline-block;
  vertical-align: top;
  width: 170px;
  padding-top: 10px;
  border-top: 1px solid lightgrey;
  margin-left: -170px;
  float: left;
}

.iban {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  margin-top: 10px;
  float: left;
}

label {
  display: block;
  color: gray;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

select {
  display: inline-block;
  width: 100%;
  border: none;
  background: white;
  box-shadow: 0 2px 5px lightgray;
  padding: 5px 15px;
  margin-bottom: 10px;
}

button {
  background: white;
  border: red 1px solid;
  color: red;
  box-shadow: 0 2px 5px lightgray;
  width: 100%;
  margin-top: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 3px;
  padding: 5px 10px;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

button:hover {
  box-shadow: 0 0 0;
  background: red;
  color: white;
}

input {
  width: 100%;
  border: lightgrey 1px solid;
  padding: 5px 10px;
}

input + input {
  margin-top: 10px;
}

.vertical-input input {
  display: block;
}

.vertical-input input + input {
  margin-top: 10px;
}

.horizontal-input {
  display: inline-block;
  width: 100%;
}

.horizontal-input input {
  display: inline-block;
}

.horizontal-input input + input {
  margin-top: 10px;
}

.vertical-input + .horizontal-input, input + .horizontal-input, select + .horizontal-input,
.horizontal-input + .vertical-input, input + .vertical-input, select + .vertical-input {
  margin-top: 10px;
}

.important-input {
  background: white;
  padding: 10px;
  box-shadow: 0 2px 5px lightgray;
  margin-top: 10px;
}

.iban-under {
  display: none;
  margin: 10px 0 0;
  overflow-x: auto;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .form-container {
    display: block;
    width: auto !important;
    float: none;
  }
  .iban-under {
    display: block;
    height: 200px;
  }
  .iban-side {
    display: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 480px) and (max-width : 768px) {
  .form-container {
    display: flex;
    width: calc(100% + 170px - 20px);
  }
  .horizontal-sm {
    display: inline-block;
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
  }
  .horizontal-sm + .horizontal-sm {
    margin-left: 10px;
  }
  .important-input {
    margin-top: 0;
  }
  .iban {
    margin-left: -170px;
    width: calc(100% + 170px - 20px);
  }
}
