<div class="content">

  <div class="form-container">

    <div class="horizontal-sm">
      <select #countrySelect [(ngModel)]="selectedCountry" name="country" id="country">
        <option value="">- Select Country -</option>
        <option value="Spain">Spain</option>
        <option value="Great Britain">Great Britain</option>
        <option value="India">India</option>
        <option value="United States">United States</option>
      </select>

      <div [smooth-fade]="hasSelection()">
        <div class="vertical-input" *ngIf="hasSelection()">
          <input #name name="name" placeholder="Full name">
          <input #surname name="address" placeholder="Address">
        </div>
      </div>
    </div>

    <div class="horizontal-sm">
      <div [smooth-fade]="isSelected('Spain')">
        <div class="horizontal-input important-input">
          <input name="iban" placeholder="IBAN">
          <button type="button" (click)="checkIban()">check</button>
          <iban class="iban iban-under" [iban]="iban"></iban>
        </div>
      </div>

      <div [smooth-fade]="isSelected('Great Britain')">
        <div class="horizontal-input important-input">
          <input name="sort-code" placeholder="Sort Code">
          <input name="account-number" placeholder="Account Number">
          <button type="button" (click)="checkIban()">check</button>
          <iban class="iban iban-under" [iban]="iban"></iban>
        </div>
      </div>

      <div [smooth-fade]="isSelected('India')">
        <div class="horizontal-input important-input">
          <input name="iban" placeholder="IBAN">
          <button type="button" (click)="checkIban()">check</button>
          <iban class="iban iban-under" [iban]="iban"></iban>
        </div>
      </div>

      <div [smooth-fade]="isSelected('United States')">
        <div class="horizontal-input important-input">
          <input name="routing-number" placeholder="Routing Number">
          <input name="account-number" placeholder="Account Number">
          <button type="button" (click)="checkIban()">check</button>
          <iban class="iban iban-under" [iban]="iban"></iban>
        </div>
      </div>

      <button type="button" *ngIf="hasSelection()" (click)="onSubmit()">
        Submit
      </button>
    </div>
  </div>

  <iban class="iban iban-side" [iban]="iban"></iban>

</div>
