<div class="content">

    <div class="arrow" (click)="scrollList(-1)" *ngIf="isScrollNeeded">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </div>

    <div #recipientListContainer class="recipient-list-container">
      <div #recipientList class="recipient-list">
        <app-payee class="recipient" *ngFor="let recipient of recipients"
                   [selected]="selectedRecipient === recipient"
                   [recipient]="recipient" (click)="selectedRecipient = recipient"></app-payee>
      </div>
    </div>

    <div class="arrow" (click)="scrollList(1)" *ngIf="isScrollNeeded">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </div>

</div>
