<div class="content">

  <div class="card">

    <div class="section">
      <div class="payment-type-container">
        <span>Payment type:</span>
        <div class="radio-button" (click)="selectedRbPaymentType = 1;setSantanderFee('fast')"
             [class.selected]="isPaymentTypeRbSelected(1)"
             [class.deselected]="!isPaymentTypeRbSelected(1)">
          <input type="radio" name="payment-type" value="fast" id="fast-radio">
          <div class="dot"></div>
          <label for="fast-radio">fast</label>
        </div>

        <div class="radio-button" (click)="selectedRbPaymentType = 2;setSantanderFee('cheap')"
             [class.selected]="isPaymentTypeRbSelected(2)"
             [class.deselected]="!isPaymentTypeRbSelected(2)">
          <input type="radio" name="payment-type" value="cheap" id="cheap-radio">
          <div class="dot"></div>
          <label for="cheap-radio">cheap</label>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="money-input" style="margin-top: 10px">
        <input type="text" name="from-credit"
               placeholder="{{currencySymbolsService.getSymbolFor(fromCurrency)}}0.00 (Original amount)"
               [(ngModel)]="fromCredit">
        <div class="currency" style="border:none; border-bottom: 1px solid lightgrey">
          <app-flags-dropdown [(selectedKey)]="fromCurrency"
                              [flagType]="'currency'"
                              [keysAndFlagsMap]="currencyMap"
                              [allowSelection]="false"></app-flags-dropdown>
        </div>
      </div>

      <div class="fees-box">
        <div class="names-box">
          <span class="fee-name important">Santander Fee</span>
          <span class="fee-name">Exchange Rate</span>
        </div>
        <div class="values-box">
          <li class="important">{{santanderFee}}</li>
          <li>1 : {{exchangeRate}}</li>
        </div>
      </div>

      <div class="money-input">
        <input class="inverted" type="text" name="to-credit"
               placeholder="{{currencySymbolsService.getSymbolFor(toCurrency)}}0.00 (Amount after conversion and fees)"
               [(ngModel)]="toCredit">
        <div class="currency">
          <app-flags-dropdown [(selectedKey)]="toCurrency"
                              [flagType]="'currency'"
                              [keysAndFlagsMap]="currencyMap"></app-flags-dropdown>
        </div>
      </div>

      <div class="estimated-arrival">
        Estimated arrival: <span>{{eta}}</span>
      </div>

      <div class="transaction-reference-container">
        <span style="display: block;margin-bottom:5px">Transaction Reference</span>
        <input name="reference1" style="display: block;margin-top: 10px" placeholder="Enter a reference">
        <div *ngIf="!!recipient && recipient.getAccount().getCountry() !== 'United States'">
          <input name="reference2" style="display: block;margin-top: 10px" placeholder="Reference #2">
          <input name="reference3" style="display: block;margin-top: 10px" placeholder="Reference #3">
          <input name="reference4" style="margin-top: 10px" placeholder="Reference #4">
        </div>
      </div>

      <div class="advanced-options-container non-selectable" [class.expanded]="showingAdvancedOptions">
        <div class="advanced-options-header" (click)="toggleAdvancedOptions()">
          <span class="advanced-options-title">Advanced Options</span>
          <span class="glyphicon glyphicon-chevron-right"></span>
        </div>

        <div class="advanced-options-list" [appSmoothFade]="showingAdvancedOptions">
          <div *ngIf="showingAdvancedOptions">
            <label for="select-fees-payment">Who pays the fees:</label>
            <select [(ngModel)]="feesPaymentMode" id="select-fees-payment">
              <option value="sender">Sender</option>
              <option value="shared">Shared</option>
              <option value="receiver">Receiver</option>
            </select>
            <div *ngIf="'sender' === feesPaymentMode || 'shared' === feesPaymentMode" class="check-box">
              <input [(ngModel)]="useFeesAccount" style="display:inline-block;width:auto" type="checkbox" id="use-account-for-fees">
              <label for="use-account-for-fees">
                <span class="glyphicon glyphicon-ok"></span>
                Use dedicated account
              </label>
            </div>
          </div>
          <div [appSmoothFade]="('sender' === feesPaymentMode || 'shared' === feesPaymentMode) && showingAdvancedOptions && useFeesAccount" style="margin-top: 10px">
            <div *ngIf="('sender' === feesPaymentMode || 'shared' === feesPaymentMode) && showingAdvancedOptions && useFeesAccount"
                 style="display: block;">
              <app-account-selector [(selectedAccount)]="feesAccount"></app-account-selector>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <button type="button" (click)="onReviewTransfer()">Review your transfer</button>
    </div>
  </div>

</div>
