.content {
  display: block;
  position: relative;
  background: red;
  color: white;
  max-width: 200px;
  cursor: pointer;
  -webkit-box-shadow: -2px 5px 5px lightgray;
  -moz-box-shadow: -2px 5px 5px lightgray;
  box-shadow: -2px 5px 5px lightgray;
  margin-top: 10px;
  transition: all 1000ms, border 200ms, background 200ms, color 100ms, outline 200ms;
}

.content:hover {
  outline: 3px solid red;
  background: white;
  color: red;
}

.content::before {
  display: block;
  position: absolute;
  content: "";
  width: 20px;
  height: 1px;
  background: red;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(calc(-100% - 1px));
  -webkit-box-shadow: -2px 5px 5px lightgray;
  -moz-box-shadow: -2px 5px 5px lightgray;
  box-shadow: -2px 5px 5px lightgray;
  -webkit-transition: width 1000ms;
  -moz-transition: width 1000ms;
  -ms-transition: width 1000ms;
  -o-transition: width 1000ms;
  transition: width 1000ms;
}

.content.is-selected::before {
  width: 40px;
}

.title {
  display: inline-block;
  text-align: center;
  padding: 8px 10px;
  -webkit-transition: all 200ms !important;
  -moz-transition: all 200ms !important;
  -ms-transition: all 200ms !important;
  -o-transition: all 200ms !important;
  transition: all 200ms !important;
}

.selected-content {
  padding: 0;
  display: none;
}

.content.is-selected .selected-content {
  display: block;
  padding: 0 10px 10px 10px;
}

.content.is-selected {
  margin-left: 20px;
  max-width: 100vw;
  background: transparent;
  box-shadow: -5px 5px 30px lightgray;
  padding: 10px;
  cursor: default;
  border: none;
  border-left: 2px solid red;
  outline: none;
  color: red;
}

.content.is-selected .title {
  background: transparent;
  border: none;
  pointer-events: none;
  font-size: 120%;
}

.content.is-first {
  margin-top: 0;
}
