<div class="title-bar">
  <div class="title">Make a payment</div>
</div>

<div class="workflow">
  <app-step-manager>
    <!--STEP ONE: PAYEE SELECTION-->
    <app-step [name]="'payeeSelect'" [title]="'Send money to:'" [selection]="recipient ? recipient.getName() : undefined">
      <app-tabs-manager>
        <app-tab [title]="'New Payee'">
          <app-new-payee (submitNewRecipient)="recipient = $event"></app-new-payee>
        </app-tab>

        <app-tab [title]="'Existing Payee'">
          <app-recipient-selector [(selectedRecipient)]="recipient"></app-recipient-selector>
        </app-tab>
      </app-tabs-manager>
    </app-step>

    <!--STEP TWO: ACCOUNT SELECTION-->
    <app-step [name]="'accountSelect'" [title]="'Pay with:'" [selection]="account ? account.getName() : undefined">
      <app-tabs-manager>
        <app-tab [title]="'Select an Account'">
          <app-account-selector [(selectedAccount)]="account"></app-account-selector>
        </app-tab>
      </app-tabs-manager>
    </app-step>

    <!--STEP THREE: TRANSACTION FORM-->
    <app-step [name]="'formFill'" [title]="'Your transfer'">
      <app-tabs-manager>
        <app-tab [title]="'Fill in the Form and Continue'">
          <app-transfer [(account)]="account"
                        [(recipient)]="recipient"
                        (fromCreditChange)="transactionFromCreditChange($event)"
                        (toCreditChange)="transactionToCreditChange($event)"
                        (fromCurrencyChange)="transactionFromCurrencyChange($event)"
                        (toCurrencyChange)="transactionToCurrencyChange($event)"></app-transfer>
        </app-tab>
      </app-tabs-manager>
    </app-step>
  </app-step-manager>
</div>

<app-popup>
  <app-popup-option [name]="'review'" [title]="'Please check the data below'">
    <app-transaction-review [fromAccount]="account"
                            [toPayee]="recipient"
                            [fromCredit]="transactionFromCredit"
                            [toCredit]="transactionToCredit"
                            [fromCurrency]="transactionFromCurrency"
                            [toCurrency]="transactionToCurrency"></app-transaction-review>
    <button type="button" (click)="popupService.changeOption('check')">Data is correct</button>
  </app-popup-option>
  <app-popup-option [name]="'check'" [title]="'Are you sure?'">
    <button type="button" (click)="popupService.changeOption('review')">Go back</button>
    <button type="button" (click)="popupService.changeVisibility(false)">Perform transaction</button>
  </app-popup-option>
</app-popup>
