<div class="title-bar">
  <div class="title">Make a payment</div>
</div>

<div class="workflow">
  <app-step-manager>
    <!--STEP ONE: PAYEE SELECTION-->
    <app-step [name]="'payeeSelect'" [title]="'Send money to:'" [selectedProperties]="payeeSelectedProperties">
      <app-tabs-manager>
        <app-tab [title]="'Create a new payee'">
          <app-new-payee (submitNewRecipient)="payee = $event"></app-new-payee>
        </app-tab>

        <app-tab [title]="'Select an existing payee'">
          <app-recipient-selector [(selectedRecipient)]="payee"></app-recipient-selector>
        </app-tab>
      </app-tabs-manager>
    </app-step>

    <!--STEP TWO: ACCOUNT SELECTION-->
    <app-step [name]="'accountSelect'" [title]="'Pay with:'" [selectedProperties]="accountSelectedProperties">
      <app-tabs-manager>
        <app-tab [title]="'Select an account to pay with'">
          <app-account-selector [(selectedAccount)]="account"></app-account-selector>
        </app-tab>
      </app-tabs-manager>
    </app-step>

    <!--STEP THREE: TRANSACTION FORM-->
    <app-step [name]="'formFill'" [title]="'Set up your transfer'" [selectedProperties]="formSelectedProperties">
      <app-tabs-manager>
        <app-tab [title]="'Create the transaction'">
          <app-transfer [(account)]="account"
                        [(recipient)]="payee"></app-transfer>
        </app-tab>
      </app-tabs-manager>
    </app-step>
  </app-step-manager>
</div>

<app-popup>
  <app-popup-option [name]="'review'" [title]="'Please review your transaction'">
    <app-transaction-review [fromAccount]="account"
                            [toPayee]="payee"
                            [fromCredit]="transactionTransferAmount"
                            [toCredit]="transactionFinalAmount"></app-transaction-review>
    <button type="button" (click)="popupService.changeOption('check')">
      Everything is correct
      <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
  </app-popup-option>
  <app-popup-option [name]="'check'" [title]="'Are you sure?'">
    <button type="button" (click)="popupService.changeVisibility(false)">I need to change something</button>
    <button type="button" (click)="popupService.changeVisibility(false)">Place transaction</button>
  </app-popup-option>
</app-popup>
