<div class="title-bar">
  <div class="title">Make a payment</div>
</div>

<div class="workflow">
  <app-step [stepIndex]="stepIndex"
        [progressIndex]="progressIndex"
        [title]="'Send money to:'"
        [selection]="recipient ? recipient.getName() : undefined"
        (stepClick)="onStepClick($event)">
    <app-tabs-manager>
      <app-tab [title]="'New Payee'">
        <app-new-payee (submitNewRecipient)="recipient = $event"></app-new-payee>
      </app-tab>

      <app-tab [title]="'Existing Payee'">
        <app-recipient-selector [(selectedRecipient)]="recipient"></app-recipient-selector>
      </app-tab>
    </app-tabs-manager>
  </app-step>

  <app-step [stepIndex]="stepIndex"
        [progressIndex]="progressIndex"
        [title]="'Pay with:'"
        [selection]="account ? account.getName() : undefined"
        (stepClick)="onStepClick($event)">
    <app-tabs-manager>
      <app-tab [title]="'Select an Account'">
        <app-account-selector [(selectedAccount)]="account"></app-account-selector>
      </app-tab>
    </app-tabs-manager>
  </app-step>

  <app-step [stepIndex]="stepIndex"
        [progressIndex]="progressIndex"
        [title]="'Your transfer'"
        (stepClick)="onStepClick($event)">
    <app-tabs-manager>
      <app-tab [title]="'Fill in the Form and Continue'">
        <app-transfer [(account)]="account"
                      [(recipient)]="recipient"
                      (fromCreditChange)="updateFromCredit($event)"
                      (toCreditChange)="updateToCredit($event)"
                      (fromCurrencyChange)="updateFromCurrency($event)"
                      (toCurrencyChange)="updateToCurrency($event)"></app-transfer>
      </app-tab>
    </app-tabs-manager>
  </app-step>
</div>

<app-popup>
  <app-popup-option [name]="'review'" [title]="'Please check the data below'">
    <app-transaction-review [fromAccount]="account"
                            [toPayee]="recipient"
                            [fromCredit]="transactionFromCredit"
                            [toCredit]="transactionToCredit"
                            [fromCurrency]="transactionFromCurrency"
                            [toCurrency]="transactionToCurrency"></app-transaction-review>
    <button type="button" (click)="popupService.changeOption('check')">Data is correct</button>
  </app-popup-option>
  <app-popup-option [name]="'check'" [title]="'Are you sure?'">
    <button type="button" (click)="popupService.changeOption('review')">Go back</button>
    <button type="button" (click)="popupService.changeVisibility(false)">Perform transaction</button>
  </app-popup-option>
</app-popup>
