<div class="content"
     [class.selected]="isSelected()"
     [class.unselected]="!isSelected()"
     [class.last-unselected]="!isSelected() && isLastStep()"
     [class.last-selected]="isSelected() && isLastStep()">

  <div class="step-header" (click)="onClick()">
    <div class="header-order"><span>{{_step}}</span></div>
    <div class="header-title">{{title}}</div>
  </div>

  <div #content class="step-content">
    <ng-content></ng-content>
  </div>

  <div class="selection" *ngIf="!isSelected() && isTime() && hasSelection()">
    <div class="dot"></div>
    <div class="selection-text">{{selection}}</div>
  </div>

  <div class="idle-space" *ngIf="!isSelected() && !hasSelection() && !isLastStep()">
  </div>

</div>
