<div class="content"
     [class.selected]="isSelected"
     [class.unselected]="!isSelected"
     [class.last-unselected]="!isSelected && isLastStep"
     [class.last-selected]="isSelected && isLastStep">
  <div class="step-header" (click)="stepClick.emit()">
    <div class="header-order"><span>{{stepIndex}}</span></div>
    <div class="header-title">{{title}}</div>
  </div>

  <div #content class="step-content" [appSmoothFade]="isSelected">
    <div *ngIf="isSelected"></div>
    <ng-content></ng-content>
  </div>

  <div class="selection" *ngIf="!isSelected && isTime && hasSelection()">
    <div class="dot"></div>
    <div class="selection-text">{{selection}}</div>
  </div>

  <div class="idle-space" *ngIf="!isSelected && !isLastStep && !hasSelection()">
  </div>
</div>
