<div class="recipient-container">
  <div *ngIf="recipient">
    <div class="recipient-header" [@headerState]="recipient.getState()">
    <span class="glyphicon glyphicon-user"></span>
      {{recipient.getName()}}
    </div>
    <div class="recipient-body">
      <div class="account">{{recipient.getAccount().getCurrencyType()}} account</div>
      <div class="ending">ending with {{recipient.getAccount().getLastDigits()}}</div>
    </div>
  </div>
  <div class="new-recipient" *ngIf="!recipient">
    <div class="recipient-header">
      <span class="glyphicon glyphicon-plus"></span>
      New Recipient
    </div>
    <div class="recipient-body">
      <div class="account">Create</div>
      <div class="ending">new recipient</div>
    </div>
  </div>
</div>
