.recipient-container {
  display: inline-block;
  position: relative;
  width: 170px;
  margin-top: 20px;
  max-width: 170px;
  background: white;
  font-family: Roboto, Helvetica Neue, sans-serif;
  box-shadow: 0 2px 5px lightgray;
  font-size: 115%;
  text-align: center;
  cursor: pointer;
}

.recipient-container:hover {
  box-shadow: 0 5px 10px lightgray;
  outline: 1px solid lightgrey;
}

.recipient-header {
  padding: 15px 15px 10px;
  background: white;
  color: #FF0000;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.recipient-header span {
  display: block;
  font-size: 40px;
  margin-bottom: 5px;
}

.recipient-body {
  padding: 15px;
  color: gray;
}

.account {
  display: block;
}

.ending {
  display: block;
}

@media (max-width: 768px) {
  .recipient-container {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 480px) {
  .recipient-container + .recipient-container {
    margin-top: 20px;
  }
}
