<div class="content">
  <div class="form-container">
    <div class="flags">
      <app-flags-dropdown [(selectedKey)]="selectedCountry" [flagType]="'country'" [keysAndFlagsMap]="countryFlags"></app-flags-dropdown>
    </div>

    <div class="horizontal-sm">
      <div [appSmoothFade]="hasSelection()">
        <div class="vertical-input important-input" *ngIf="hasSelection()">
          <div class="input input-validation-parent">
            <app-input [(value)]="name" [placeholder]="'Payee\'s full name'"
                       [tooltip]="'The full name of the new payee. Please insert both the names and surnames.'"></app-input>
            <div style="margin-bottom: 10px" class="input-validation" [class.input-validation-empty]="payeeNameValidationError"></div>
          </div>
          <div class="input">
            <app-input [(value)]="address" [placeholder]="'Payee\'s address'"
                       [tooltip]="'The home address of the payee. Please include the postcode and building number (and room if available)'"></app-input>
          </div>
          <div class="check-box">
            <input [(ngModel)]="save" style="display:inline-block;width:auto" type="checkbox" id="save-for-later">
            <label for="save-for-later">
              <span class="glyphicon glyphicon-ok"></span>
              Save for future payments
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="horizontal-sm">
      <div [appSmoothFade]="isSelected('Spain')">
        <div *ngIf="isSelected('Spain')">
          <div class="horizontal-input important-input">
            <div class="input input-validation-parent">
              <app-input [(value)]="iban" [placeholder]="'IBAN of Account'"></app-input>
              <div class="input-validation" [class.input-validation-enter]="ibanValidationError"></div>
            </div>
            <app-iban [iban]="ibanObject" [(isValid)]="ibanValid"></app-iban>
            <button [class.inverted]="ibanValid" type="button" (click)="checkIban()">Check IBAN</button>
            <button class="submit-button"
                    [class.deactivated]="!ibanValid"
                    type="button" style="margin-top: 20px;"
                    *ngIf="hasSelection()" (click)="onSubmit()">
              Continue
            </button>
          </div>
        </div>
      </div>

      <div [appSmoothFade]="isSelected('United Kingdom')">
        <div *ngIf="isSelected('United Kingdom')">
          <div class="horizontal-input important-input">
            <div class="input input-validation-parent">
              <app-input [(value)]="sortCode" [placeholder]="'Sort Code'"></app-input>
              <div class="input-validation" [class.input-validation-enter]="sortCodeValidationError"></div>
            </div>
            <div class="input input-validation-parent">
              <app-input [(value)]="accountNumber" [placeholder]="'Account Number'"></app-input>
              <div class="input-validation" [class.input-validation-enter]="accountNumberValidationError"></div>
            </div>
            <app-iban [iban]="ibanObject" [(isValid)]="ibanValid"></app-iban>
            <button [class.inverted]="ibanValid" type="button" (click)="checkIban()">Check Account</button>
            <button class="submit-button"
                    [class.deactivated]="!ibanValid"
                    type="button" style="margin-top: 20px;"
                    *ngIf="hasSelection()" (click)="onSubmit()">
              Continue
            </button>
          </div>
        </div>
      </div>

      <div [appSmoothFade]="isSelected('India')">
        <div *ngIf="isSelected('India')">
          <div class="horizontal-input important-input">
            <div class="input input-validation-parent">
              <app-input [(value)]="iban" [placeholder]="'IBAN of Account'"></app-input>
              <div class="input-validation" [class.input-validation-enter]="ibanValidationError"></div>
            </div>
            <app-iban [iban]="ibanObject" [(isValid)]="ibanValid"></app-iban>
            <button [class.inverted]="ibanValid" type="button" (click)="checkIban()">Check IBAN</button>
            <button class="submit-button"
                    [class.deactivated]="!ibanValid"
                    type="button" style="margin-top: 20px;"
                    *ngIf="hasSelection()" (click)="onSubmit()">
              Continue
            </button>
          </div>
        </div>
      </div>

      <div [appSmoothFade]="isSelected('United States')">
        <div *ngIf="isSelected('United States')">
          <div class="horizontal-input important-input">
            <div class="input input-validation-parent">
              <app-input [(value)]="routingNumber" [placeholder]="'Routing Number'"></app-input>
              <div class="input-validation" [class.input-validation-enter]="routingNumberValidationError"></div>
            </div>
            <div class="input input-validation-parent">
              <app-input [(value)]="accountNumber" [placeholder]="'Account Number'"></app-input>
              <div class="input-validation" [class.input-validation-enter]="accountNumberValidationError"></div>
            </div>
            <app-iban [iban]="ibanObject" [(isValid)]="ibanValid"></app-iban>
            <button [class.inverted]="ibanValid" type="button" (click)="checkIban()">Check Account</button>
            <button class="submit-button"
                    [class.deactivated]="!ibanValid"
                    type="button" style="margin-top: 20px;"
                    *ngIf="hasSelection()" (click)="onSubmit()">
              Continue
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
