<div class="recipient-container">
  <div *ngIf="recipient">
    <div class="recipient-header" [@headerState]="selected ? 'selected' : 'unselected'">
      <span class="glyphicon glyphicon-user"></span>
      <span class="text">{{recipient.getName()}}</span>
    </div>
    <div class="recipient-body">
      <div class="flag">
        <span class="currency-flag currency-flag-{{recipient.getAccount().getCurrencyType()}}"></span>
        {{recipient.getAccount().getCurrencyType().toUpperCase()}}
      </div>
      <div class="recipient-body-description">
        <div class="ending">account ending with {{recipient.getAccount().getLastDigits()}}</div>
      </div>
    </div>
  </div>
  <div class="new-recipient" *ngIf="!recipient">
    <div class="recipient-header">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="text">New Recipient</span>
    </div>
    <div class="recipient-body">
      <div class="account">Create</div>
      <div class="ending">new recipient</div>
    </div>
  </div>
</div>
