html {
  background: #F5F5F5 !important;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.non-selectable, .non-selectable * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  background: white !important;
  color: black !important;
  border: 1px solid lightgrey;
  padding: 8px 10px 8px 10px;
  transition: color 100ms, background 200ms, border 200ms, outline 100ms, padding 100ms;
}

input:hover {
  border-color: transparent !important;
  box-shadow: -2px 3px 10px lightgray !important;
  margin-left: 0;
  padding: 8px 5px 8px 15px;
}

input:focus {
  border-color: gray !important;
  box-shadow: -2px 3px 10px lightgray !important;
  padding: 8px 5px 8px 15px;
}

input.inverted {
  background: red !important;
  color: white !important;
  border: 0 solid red;
  outline: 0 solid red;
}

input.inverted::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: white;
}
input.inverted:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity:  1;
}
input.inverted::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
  opacity:  1;
}
input.inverted:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}
input.inverted:-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

input.inverted:hover, input.inverted:focus {
  background: white !important;
  color: red !important;
  outline: 3px solid red;
}

input.inverted:hover::-webkit-input-placeholder, input.inverted:focus::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: red;
}
input.inverted:hover:-moz-placeholder, input.inverted:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: red;
  opacity:  1;
}
input.inverted:hover::-moz-placeholder, input.inverted:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: red;
  opacity:  1;
}
input.inverted:hover:-ms-input-placeholder, input.inverted:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}
input.inverted:hover:-ms-input-placeholder, input.inverted:focus:-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

button, button:focus {
  position: relative;
  background: red;
  border: red 1px solid;
  color: white;
  box-shadow: 0 2px 5px lightgray;
  margin-top: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 0;
  padding: 8px 10px;
  outline: 0 solid red;
  transition: background 200ms, color 100ms, box-shadow 200ms, outline 100ms;
}

button:hover {
  box-shadow: 0 0 0;
  outline: 2px solid red;
  background: white;
  color: red;
}

button.inverted {
  background: white;
  color: red;
}

button.inverted:hover {
  background: red;
  color:white;
}

button.deactivated {
  position: relative;
  background: white;
  color: gray;
  border: 1px solid lightgray;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  pointer-events: none;
}

button.deactivated::before {
  background: gray;
  background: -webkit-linear-gradient(to bottom, red, lightgray); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom, red, lightgray); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom, red, lightgray); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, red, lightgray); /* Standard syntax */
}

label {
  display: inline-block !important;
  font-weight: 100 !important;
  cursor: pointer !important;
}

span {
  cursor: default !important;
}

.check-box {
  display: inline-block;
}

.check-box input {
  display: none !important;
}

.check-box span {
  display: inline-block !important;
  width: 20px !important;
  height: 20px !important;
  border: 2px solid red !important;
  color: transparent !important;
  transform: none !important;;
}

.check-box input:checked + span {
  color: red !important;
}

.check-box label {
  color: red !important;
}

.radio-button {
  position: relative;
  margin-left: 10px !important;
  transition: color 200ms;
}

.radio-button * {
  cursor: pointer;
}

.radio-button.deselected {
  color: gray;
}

.radio-button.deselected:hover {
  color: darkslategray;
}

.radio-button input {
  display: none !important;
}

.radio-button .dot {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  transition: border 200ms;
}

.radio-button.selected .dot {
  border: 2px solid red;
}

.radio-button.deselected .dot {
  border: 2px solid gray;
}

.radio-button.deselected:hover .dot {
  border: 2px solid darkslategray;
}

.radio-button .dot::before {
  display: block;
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: none;
  border-radius: 100%;
  transition: background 200ms;
}

.radio-button.selected .dot::before {
  background: red;
}

.card {
  display: inline-block;
  background: white !important;
  padding: 20px;
  width: 90%;
  box-shadow: 0 2px 5px lightgray;
  color: red;
}

.card + .card {
  margin-top: 10px;
}

.sub-card {
  display: block;
  position: relative;
}

* + .sub-card {
  margin-top: 10px;
}

.sub-card-title {
  display: block;
  position: relative;
  padding-left: 10px;
}

.sub-card-title::before {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 1px;
  height: 50%;
  background: red;
}

.sub-card-title::after {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 5px;
  height: 1px;
  background: red;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sub-card-body {
  display: block;
  position: relative;
  border-left: 1px solid red;
  padding-left: 10px;
}

/* Mobile devices */
@media only screen and (max-width : 480px) {
  .card {
    //padding: 0;
    width: 100%;
  }
  .check-box {
    display: block;
  }
  .radio-button {
    display: block !important;
    margin-top: 10px !important;
  }
}
